footer .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    padding: 10px 0px 10px 0px;
}

footer .wrapper * {
    margin: 0px;
    padding: 0px;

    font-size: 1em;
    color: var(--main-text-color);
}

@media (width < 768px) {
    footer .wrapper * {
        font-size: 0.8em;
    }
}

@media (max-width: 425px) {
    footer .wrapper {
        gap: 10px;
        flex-wrap: wrap;
    }
}