#hero-image {
    position: relative;
}

#hero-image img {
    width: 100%;
    height: auto;
}

#hero-image .text {
    position: absolute;
    top: 120px;
    right: 20px;

    width: 50%;
    padding: 0px 20px 0px 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-transform: uppercase;
}

#hero-image .text h2 {
    font-weight: normal;
    font-size: 2.2em;
    text-align: center;
    text-wrap: balance;
    color: var(--main-color);
    text-shadow: 0px 0px 6px black;
}

#hero-image .text .contact-us {
    position: relative;
    z-index: 1;

    font-size: 1.5em;
    letter-spacing: 2px;
    color: var(--main-color);

    width: auto;
    padding: 7px 15px 7px 15px;
}

#hero-image .text .contact-us::before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: var(--main-text-color);
    outline: 1px solid var(--main-color);
    opacity: 0.95;
}

#hero-image .text .more-info {
    margin-top: 15px;
    color: var(--main-color);
    font-size: 1em;
    letter-spacing: 4px;
    text-decoration: underline;
    text-transform: lowercase;
    text-shadow: 0px 0px 4px black;
}

@media (max-width: 1280px) {
    
    #hero-image .text h2 {
        font-size: 2em;
    }

    #hero-image .text .contact-us {
        font-size: 1.2em;
    }

    #hero-image .text .more-info {
        font-size: 0.9em;
    }
}

@media (max-width: 1024px) {
    #hero-image .text h2 {
        font-size: 1.8em;
    }

    #hero-image .text .contact-us {
        font-size: 1em;
    }

    #hero-image .text .more-info {
        font-size: 0.9em;
    }
}

@media (max-width: 896px) {
    #hero-image .text {
        right: 10px;
        top: 80px;
    }

    #hero-image .text h2 {
        font-size: 1.6em;
    }

    #hero-image .text .contact-us {
        font-size: 1em;
    }

    #hero-image .text .more-info {
        font-size: 0.9em;
    }
}

@media (max-width: 768px) {
    #hero-image .text {
        right: 5px;
        top: 80px;
    }

    #hero-image .text h2 {
        font-size: 1.3em;
    }

    #hero-image .text .contact-us {
        font-size: 0.8em;
    }

    #hero-image .text .more-info {
        font-size: 0.8em;
    }
}

@media (max-width: 640px) {
    #hero-image .text {
        right: 0px;
        top: 60px;
    }

    #hero-image .text h2 {
        font-size: 0.9em;
    }

    #hero-image .text .contact-us {
        font-size: 0.7em;
    }

    #hero-image .text .more-info {
        font-size: 0.7em;
    }
}

@media (max-width: 425px) {
    #hero-image .text {
        position: absolute;
        right: auto;
        gap: 10px;
        top: auto;
        bottom: 40px;
        width: 100%;
        flex-direction: column;

        box-sizing: border-box;
    }

    #hero-image .text h2 {
        font-size: 1.7em;
        word-spacing: 4px;
        letter-spacing: 1px;
    }

    #hero-image .text .contact-us {
        font-size: 0.8em;
    }

    #hero-image .text .more-info {
        font-size: 0.8em;
        margin-top: 5px;
    }
}

@media (max-width: 375px) {
    #hero-image .text {
        bottom: 30px;
    }

    #hero-image .text h2 {
        font-size: 1.4em;
        word-spacing: 3px;
        letter-spacing: 1px;
    }
}

@media (max-width: 320px) {
    #hero-image .text h2 {
        font-size: 1.3em;
    }
}