.heading {
    width: 100%;

    margin: 20px 0px 50px 0px;
    padding: 0px 20px 0px 20px;

    box-sizing: border-box;
}

.heading * {
    text-align: center;
}

.heading h1 {
    text-transform: capitalize;
    font-size: 1.6em;
}

.heading h2 {
    padding: 0px 100px 0px 100px;
    font-size: 1em;
    font-weight: normal;
}

#services {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 120px;

    margin-bottom: 50px;
}

#services article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;

    box-sizing: border-box;
    padding: 0px 50px 0px 50px;
}

#services article>* {
    box-shadow: 2px 2px 5px lightgray;
}

#services article .image {
    position: relative;
    width: 384px;
    height: 384px;
    border-radius: 4px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--main-text-color);
}

#services article .image img {
    width: inherit;
    height: inherit;
    object-fit: cover;
}

#services article .text {
    position: relative;

    border-width: 2px;
    border-style: solid;
    border-color: var(--main-text-color);
    border-radius: 4px;
    background-color: var(--main-color);
}

#services article .text h2 {
    width: 100%;
    margin: 0px;
    padding: 5px 15px 5px 15px;
    box-sizing: border-box;

    text-transform: uppercase;
    text-align: center;
    font-size: 1.4em;
    font-weight: normal;

    color: var(--main-color);
    background-color: var(--main-text-color);
}

#services article .text ul {
    margin: 0px;
    padding: 0px;

    font-size: 1.3em;
    letter-spacing: 1px;
    line-height: 1.4em;
    text-wrap: stable;

    color: var(--secondary-color);
    list-style-type: none;
}

#services article .text ul li:nth-child(even)::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: -1;
    background-color: var(--main-text-color);
    opacity: 0.2;
}

#services article .text ul li:nth-child(even) {
    color: var(--main-text-color);
}

#services article .text ul li {
    z-index: 1;
    position: relative;
    padding: 8px 20px 8px 15px;
    text-align: center;
}

@media (width < 1280px) {
    #services article .image {
        width: 256px;
        height: 256px;
    }

    #services article .text h2 {
        font-size: 1.3em;
    }

    #services article .text ul {
        font-size: 1.2em;
    }

    #services article .text ul li {
        padding: 6px 20px 6px 15px;
    }
}

@media (width < 1024px) {
    .heading h1 {
        font-size: 1.4em;
    }

    .heading h2 {
        font-size: 0.9em;
    }

    #services article {
        padding: 0px 20px 0px 20px;
    }

    #services article .text ul {
        font-size: 1.1em;
    }
}

@media (width < 768px) {
    .heading {
        padding: 0px 10px 0px 10px;
        margin-bottom: 30px;
    }

    .heading h1 {
        font-size: 1.2em;
    }

    .heading h2 {
        padding: 0px 20px 0px 20px;
    }

    #services {
        align-items: normal;
        gap: 80px;
    }

    #services article {
        flex-direction: column;
        padding: 0px;
        gap: 0px;

        box-shadow: 0px -2px 10px lightgray;
    }

    #services article>* {
        box-shadow: none;
    }

    #services article .image {
        width: 100%;
        height: auto;
        aspect-ratio: 1;

        border-radius: 0px;
        border-width: 0px;
    }

    #services article .image img {
        width: 100%;
        height: 100%;
    }

    #services article .text {
        border-width: 0px;
    }

    #services article .text h2 {
        font-size: 1.2em;
    }

    #services article .text ul {
        font-size: 1.1em;
    }

    #services article .text ul li {
        padding: 7px 15px 7px 15px;
    }
}

@media (max-width: 375px) {
    .heading {
        margin-top: 10px;
        margin-bottom: 25px;
    }

    .heading * {
        font-size: 1.4em;
    }

    #services {
        gap: 60px;
    }

    #services article .text h2 {
        font-size: 1.1em;
    }

    #services article .text ul {
        font-size: 0.9em;
    }

    #services article .text ul li {
        padding: 7px 10px 7px 10px;
    }
}